@page "/login"
@inject couchspaces.Services.FirebaseService FirebaseService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@inject couchspaces.Services.CouchspacesAuthenticationStateProvider AuthStateProvider
@inject couchspaces.Services.TokenManagerService TokenManagerService

@using System.Security.Claims

<h3>Login</h3>
<button @onclick="SignIn">Sign in with Google</button>

@code {
    private async Task SignIn()
    {
        var userInfo = await FirebaseService.SignInWithGoogleAsync();
        if (userInfo != null)
        {
            var user = new Dictionary<string, string>
            {
                { "displayName", userInfo["name"] },
                { "email", userInfo["email"] },
                { "stsTokenManager", userInfo["token"] }
            };

            await AuthStateProvider.MarkUserAsAuthenticated(user);

            // Start token validation
            TokenManagerService.StartTokenValidation(userInfo["token"]);

            // Navigate to the home page or another protected page
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Handle sign-in failure
            Console.WriteLine("Sign-in failed.");
        }
    }
}